/* 

Default font: 'Epilogue', sans-serif;
Heading Font: 'Marcellus', serif;
Sub Heading Font: 'Alegreya Sans SC', sans-serif;

*/

/* 
txt--1: current temp
txt--2: heading large
txt--3(Alegreya): heading small, current weather

*/

/* 
  TABLE OF CONTENTS
  #Fonts
  #Format
  #Loading Screen
  #Header
  #Pages
  # ##Current
  # ##Hourly
  # ##Daily 
  #Footer
  #Action States
*/

/* ###################### #FONTS ########################### */
* {
  font-family: "Epilogue", sans-serif;
}

.txt--1 {
  font-family: "Marcellus", Georgia, "Times New Roman", Times, serif;
  font-size: 75px;
  text-shadow: 1px 1px 1px white;
}

.txt--2 {
  font-family: "Marcellus", Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px white;
}

.txt--3 {
  font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
}

.margin-right {
  margin-right: 10px;
}

/* ###################### #FORMAT ########################### */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 10vh;
  background-color: #758591;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.511);
  z-index: 2;
}

main {
  height: 80vh;
  position: relative;
}

footer {
  height: 10vh;
  background-color: #637f96b2;
  box-shadow: 0px -3px 5px 1px rgba(0, 0, 0, 0.411);
}

section {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.493),
    rgba(33, 169, 248, 0.324)
  );
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.474);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: (3px);
  max-width: 800px;
  margin: 10px;
}

.btn {
  cursor: pointer;
}

hr {
  width: 100px;
}

/* ###################### #LOADING SCREEN ########################### */
.loading__cntnr {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  padding-top: 150px;
  background-color: rgba(155, 162, 172, 0.499);
}

.spinner__cntnr {
  margin-top: -120px;
  height: 500px;
  width: 600px;
}

/* ###################### #HEADER ########################### */
.header__wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.search__cntnr {
  position: relative;
}

#search-input {
  width: 250px;
  padding: 3px 32px 1px 5px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
}

#search-submit {
  background-color: rgb(236, 236, 236);
  line-height: 35px;
  border: none;
  height: 35px;
  position: absolute;
  right: 3px;
  top: 2.5px;
  cursor: pointer;
}

.convert__container {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 2px black;
  border-radius: 5px;
  background-color: rgb(195, 195, 195);
}

.convert__opt {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

#convert--f {
  border-right: solid 1px black;
}

/* ###################### #PAGES ########################### */
.main__cntnr {
  /* scroll-snap-type: x mandatory; */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  -ms-overflow-style: none;
  scrollbar-width: none;

  transition: opacity 1s ease-in-out;
}

.main__cntnr::-webkit-scrollbar {
  display: none;
}

.slider {
  height: 100%;
  width: 300vw;
  display: flex;

  transition: transform 0.5s ease-in-out;
}

.page {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 95%;
}

/* ------------------ #Current -------------------- */
.cur__heading__loc__cntnr {
  text-align: right;
}

.cur__weather__cntnr {
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.cur__weather__row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#weather-icon {
  margin-left: -10px;
}

.cur__details__cntnr {
  width: 95%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.cur__details__title__cntnr {
  margin-bottom: 20px;
}

.cur__details__title__cntnr > h3 {
  border-bottom: solid 1px black;
  line-height: 25px;
  padding-bottom: 5px;
}

.cur__details__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cur__details__sun__cntnr {
  display: flex;
}

.cur__details__sun__cntnr > img {
  margin-right: 10px;
}

#cur-sunrise {
  margin-right: 8px;
}

/* ------------------ #Forecasts -------------------- */
#page-hourly,
#page-daily {
  justify-content: flex-start;
}

.forecast__heading {
  padding: 5px 0;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.forecast__cntnr {
  width: 100%;
  padding: 10px 20px 10px 10px;
}

.forecast__subheading {
  margin-left: 10px;
  margin-top: 5px;
}

.forecast__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.forecast__data__cntnr {
  display: flex;
}

/* ------------------ #Hourly -------------------- */
.material-symbols-outlined {
  font-size: 18px;
  line-height: 20px;
  color: blue;
  text-shadow: 1px 1px 2px rgba(6, 0, 93, 0.697);
}

/* ------------------ #Hourly -------------------- */
.arrow__img {
  margin-top: 4px;
}

/* ###################### #FOOTER ########################### */
.nav__cntnr {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav__btn {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: inherit;
}

/* ###################### #ACTION STATES ########################### */
.hidden--opacity {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hidden--z {
  z-index: -5;
}

.hidden--none {
  display: none;
}

.convert--active {
  background-color: #3b90d6b2;
  transition: background-color 0.6s;
}

.nav--active {
  background-color: #4081b7b2;
  transition: background-color 0.6s;
  border-radius: 5px;
}

.bkgrd-clear {
  background-image: url("../../dist/images/bkgrd-clear.jpg");
}

.bkgrd-clouds-few {
  background-image: url("../../dist/images/bkgrd-clouds-few.jpg");
}

.bkgrd-clouds-scattered {
  background-image: url("../../dist/images/bkgrd-clouds-scattered.jpg");
}

.bkgrd-clouds-overcast {
  background-image: url("../../dist/images/bkgrd-clouds-overcast.jpg");
}

.bkgrd-drizzle {
  background-image: url("../../dist/images/bkgrd-drizzle.jpg");
}

.bkgrd-rain {
  background-image: url("../../dist/images/bkgrd-rain.jpg");
}

.bkgrd-lightning {
  background-image: url("../../dist/images/bkgrd-lightning.jpg");
}

.bkgrd-snow {
  background-image: url("../../dist/images/bkgrd-snow.jpg");
}

.bkgrd-fog {
  background-image: url("../../dist/images/bkgrd-fog.jpg");
}

.slide-home {
  transform: translate(0);
}

.slide-hourly {
  transform: translate(-33.3333%);
}

.slide-daily {
  transform: translate(-66.66666%);
}

/* ###################### #MEDIA QUERY ########################### */
@media only screen and (max-width: 849px) {
  .header__nav {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  .header__wrapper {
    column-gap: 20px;
  }

  .header__nav {
    flex-grow: 2;
  }

  main {
    height: 90vh;
  }

  .cur__details__cntnr {
    margin-bottom: 50px;
  }

  footer {
    display: none;
  }
}
